@font-face {
  font-family: "iconfont"; /* Project id 3595228 */
  src: url('iconfont.woff2?t=1660796335912') format('woff2'),
       url('iconfont.woff?t=1660796335912') format('woff'),
       url('iconfont.ttf?t=1660796335912') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dogaonetease-cloud-music-fill:before {
  content: "\e65f";
}

